@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');

body {
    margin:0 5% 0 5%;
    font-family: 'Encode Sans SC', sans-serif;
    height: 100%;
}

.header {
    margin-bottom: 3%;
    width: 95%;
    height: 10%;
}
.title {
    margin: 0;
    margin-top: 3%;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}

.title:hover{
    cursor: pointer;
}
button{
    border:none;
    border-radius: none;
    background-color: #00a2a7;
    padding: 10px;
    margin-right: 3px;
    color: white;
    box-shadow:0px 0px  4px  rgba(0, 0, 0,0.4);
    font-size: 12px;
}

button:hover{
    background-color: #006366;
    cursor: pointer;
}

.search, .account {
    font-family: Noto Sans, sans-serif;
    transform: scale(0.7);
    font-size: 5px;
    font-weight: bold;
    height:5%;
    padding: 2% 3% 3.5% 3%;
}

.account{
    position: absolute;
    left: 85%;
    top:2%;
}
.account_box {
    height: 80%;
    width: 80%;
    margin: 3% 10%;
}

.current_account_name {
    font-size: 27px;
}

.account_name_change_input {
    padding: 1%;
}

.change_theme_color_label{
    font-weight: bold;  
    margin-bottom: 1%;
}
.account_name_change_btn, .change_theme_color_btn{
    box-shadow:0px 0px  0px  rgba(0, 0, 0,0.4);
}


.back_to_main_page_btn{
    display: block;
    text-decoration: none;
    color:#9A9FAA;
}
.back_to_main_page_btn:hover{
    color:#0F57E6;
    text-decoration: none;
}

.back_to_main_page_btn:active{
    color:#FFC300;
}



.form-group {
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.form-control {
    margin-top: 5px;
    display:inline;
    width: 50%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.account_name_change_input {
    padding: 1%;
}

label{
    font-size: bold;
}