@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');

body {
    margin:0 5% 0 5%;
    font-family: 'Encode Sans SC', sans-serif;
    height: 100%;
}

.header {
    margin-bottom: 3%;
    width: 95%;
    height: 10%;
}

.title {
    margin: 0;
    margin-top: 3%;
    display: inline-block;
    font-size: 15px;
}

/* .search_input {
    display: inline;
    float: right;
    margin-right: 30px;
} */


button{
    border:none;
    border-radius: none;
    background-color: #00a2a7;
    padding: 20px;
    margin-right: 3px;
    color: white;
    box-shadow:0px 0px  4px  rgba(0, 0, 0,0.4);
}

button:hover{
    background-color: #006366;
    cursor: pointer;
}

.search, .account {
    font-family: Noto Sans, sans-serif;
    transform: scale(0.7);
    font-size: 5px;
    font-weight: bold;
    height:5%;
    padding: 2% 3% 3.5% 3%;
}

.search{
    position: absolute;
    left: 75%;
    top: 2%;
}

.account{
    position: absolute;
    left: 85%;
    top:2%;
}


.Info_Display {
    width: 95%;
    height: 80%;
    padding: 3%;
    padding-right: 0;

}

.Left_Bar {
    width: 20%;
    min-height: 80%;
    /* margin: 0; */
    /* display: inline; */
    margin-top: 3%;
    display: inline-block;
    border-top: 1px solid black;
    position: relative;
}

.Left_Bar a{
    border:none;
    border-radius: none;
    background-color: white;
    color: black;
}

.Contact_Group,.New_Contact,.New_Group {
    margin-top: 10%;
    display: block;
    width: 100%;
    font-weight: lighter;
    margin-left: 2.5%;
    min-height: 10%;
}

.New_Contact{
    transform: scale(0.7);
    font-weight: bold;
    position: absolute;
    margin: 0;
    left: -14%;
}

.New_Group{
    transform: scale(0.7);
    font-weight: bold;
    position: absolute;
    margin: 0;
    left: -14%;
    top:20%;
}
hr.BeforeGroup{
    margin-top: 70%;
    margin-bottom: 0;
}

.Contact_Group {
    margin-top: 1%;
}

.group_classification {
    margin-left: 2.5%;
    /*margin: 10px;*/

}

/* button:hover {
    background-color: red;
    color:white;
} */


.decoration{
    width:100px;height:100px;
    background-color: #00a2a7;
    position: relative;
}


.Right_Bar {
    margin: 0;
    margin-left: 10%;
    width: 70%;
    float: right;
    min-height: 400px;
    position: relative;

}

.right{
    padding: 2%;
    position: absolute;
    top:2%;
    left:1.3%;
    z-index:999;
    color:black;;
    min-height: 100%;
    min-width: 90%;
    background-color:rgba(250, 250, 250,1);
}

.Group_Name{
    margin-top: 0;
}
.add_contact_title {
    text-align: center;
    margin: 0;
}

.add_contact_input, .add_group_input {
    display: block;
    padding: 4px;
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
    height: 20%;
    font-size: 22px;
}

.add_contact_button {
    display: block;
    padding: 4px;
    width: 30%;
    margin-left: 35.5%;
    margin-top: 5%;
    height: 20%;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 4px;
}

#Area_Add_Contact,#Area_Add_Contact_Group {
    display: none;
}

input{
    font-size: 12px;
}